<ion-header>
  <ion-toolbar>
    <ion-title>Edit Vehicle</ion-title>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="backToManage()">
        <ion-icon name="arrow-back" class="close-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #editVehicle="ngForm" (ngSubmit)="editVehicleInDB()">
    <ion-list padding lines="full" class="ion-padding">
      <ion-item class="input-container">
        <ion-label style="font-size: 13px;">Vehicle Type</ion-label>
        <ion-select
          interface="action-sheet"
          class="selector"
          name="vType"
          [(ngModel)]="vType"
        >
          <ion-select-option value="Motorcycle" style="font-size:20px"
            >Motorcycle</ion-select-option
          >
          <ion-select-option value="Car">Car</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="input-container">
        <ion-label position="stacked">Vehicle Model</ion-label>
        <ion-input
          class="input"
          required
          inputmode="text"
          oninput="handleFirstNameValue(event)"
          name="vModel"
          [(ngModel)]="vModel"
        ></ion-input>
      </ion-item>
      <ion-item class="input-container">
        <ion-label position="stacked">Plate Number</ion-label>
        <ion-input
          class="input"
          required
          inputmode="text"
          oninput="handleFirstNameValue(event)"
          name="plateNo"
          [(ngModel)]="plateNo"
        ></ion-input>
      </ion-item>
    </ion-list>

    <div class="btn-container">
      <ion-button expand="block" type="submit" class="add-btn"
        >Edit Vehicle</ion-button
      >
      <ion-button
        expand="block"
        color="danger add-btn"
        (click)="deleteVehicleFromDB()"
        >Delete Vehicle</ion-button
      >
    </div>
  </form>
</ion-content>
