<ion-header>
  <ion-toolbar>
    <ion-title>Add Place</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="backToManage()">
        <ion-icon name="close" class="close-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #editPlace="ngForm" (ngSubmit)="editPlaceInDB()">
    <ion-list padding lines="full" class="ion-padding">
      <ion-item class="input-container">
        <ion-label position="stacked">Area Name</ion-label>
        <ion-input
                class="input"
                required
                inputmode="text"
                oninput="handleFirstNameValue(event)"
                name="areaName"
                [(ngModel)]="areaName"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Address</ion-label>
        <ion-textarea required class="input" name="address" [(ngModel)]="address"></ion-textarea>

      </ion-item>

      <ion-item class="input-container">
        <ion-label position="stacked">Price per hour</ion-label>
        <ion-input
                class="input"
                required
                inputmode="numeric"
                oninput="handleFirstNameValue(event)"
                name="pricePerHour"
                [(ngModel)]="pricePerHour"
        ></ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-label position="stacked">Location ***put map here***</ion-label>
        <ion-input
                class="input"
                required
                inputmode="numeric"
                oninput="handleFirstNameValue(event)"
        ></ion-input>
      </ion-item>
      <ion-item class="input-container">
        <ion-label position="stacked"
        >Upload Picture **need more info**</ion-label
        >
        <ion-input
                class="input"
                required
                inputmode="numeric"
                oninput="handleFirstNameValue(event)"
        ></ion-input>
      </ion-item>
    </ion-list>
<!--    <ion-button expand="block" color="tertiary" type="submit" class="upload-btn"-->
<!--    >Upload from Gallery</ion-button-->
<!--    >-->
    <ion-button expand="block" (click)="editPlaceLatLng()" color="tertiary">Update Location</ion-button>
    <ion-button
            expand="block"
            type="submit"
            class="add-btn"
            [routerLink]="['/', 'tabs', 'parking']"
    >Edit Place</ion-button
    >
    <ion-button expand="block" color="danger add-btn" (click)="deletePlaceFromDB()">Delete Vehicle</ion-button>
  </form>
</ion-content>
