<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button
        slot="start"
        defaultHref="/tabs/profile"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Vehicles</ion-title>
    <ion-label
      slot="primary"
      class="ion-padding"
      (click)="addVehicle()"
      color="primary"
      >Add</ion-label
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item lines="full" class="surrounding-padding">
        <ion-row>
          <ion-col size="8" class="">
            <!-- CAR MODEL AND PLATE NUMBER -->
            <ion-label>Pajero</ion-label>
            <ion-label>B 1 RI</ion-label>
          </ion-col>
          <!-- CAR PICTURE -->
          <ion-col size="4" class="">
            <ion-img
              [src]="
                'https://cdn1-production-images-kly.akamaized.net/FmOMEUOE0I78Bc0ntEqqjbTha4Q=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/2432089/original/085299300_1542946342-kdakjasd.jpg'
              "
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item lines="full" class="surrounding-padding">
        <ion-row>
          <ion-col size="8" class="">
            <!-- CAR MODEL AND PLATE NUMBER -->
            <ion-label>Pajero</ion-label>
            <ion-label>B 1 RI</ion-label>
          </ion-col>
          <!-- CAR PICTURE -->
          <ion-col size="4" class="">
            <ion-img
              [src]="
                'https://cdn1-production-images-kly.akamaized.net/FmOMEUOE0I78Bc0ntEqqjbTha4Q=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/2432089/original/085299300_1542946342-kdakjasd.jpg'
              "
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
