<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/profile"></ion-back-button>
    <ion-title>Manage Vehicle</ion-title>
    <ion-label
      slot="primary"
      class="ion-padding btn"
      (click)="addVehicle()"
      color="primary"
      >Add</ion-label
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    *ngIf="vehicleList.length == 0"
    style="padding-left: 16px; padding-right: 16px; display: flex; flex-direction:column; height: 90%; flex:1; justify-content: center; align-items: center;font-size: 12px;"
  >
    <ion-label
      >You don't have any vehicle yet. Let's add your Vehicle!</ion-label
    >
  </div>
  <ion-list *ngFor="let v of vehicleList">
    <ion-item
      lines="full"
      class="list-item"
      [routerLink]="['/','edit-vehicle',v.id]"
    >
      <div class="wrapper-vehicle">
        <h3 class="vehicle-name">{{ v.vehicleModel }}</h3>
        <ion-label class="plate">{{ v.plateNo }}</ion-label>
      </div>
      <ion-label class="vehicle-type">{{ v.vehicleType }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
