.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.surrounding-padding{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}