<ion-header>
  <ion-toolbar>
    <ion-title>Add Place</ion-title>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="backToManage()">
        <ion-icon name="arrow-back" class="close-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #addPlace="ngForm">
    <ion-list padding lines="full" class="ion-padding">
      <ion-item class="input-container">
        <ion-label position="stacked">Area Name</ion-label>
        <ion-input
          class="input"
          required
          inputmode="text"
          name="areaName"
          ngModel
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Address</ion-label>
        <ion-textarea
          required
          class="input"
          name="address"
          ngModel
        ></ion-textarea>
      </ion-item>

      <ion-item class="input-container">
        <ion-label position="stacked">Price per hour</ion-label>
        <ion-input
          class="input"
          required
          inputmode="numeric"
          name="pricePerHour"
          ngModel
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="addPlaceLatLng()" class="btn"
      >Set Location on Map</ion-button
    >
    <ion-button
      expand="block"
      (click)="takePictureFromPhotoAlbum()"
      color="tertiary"
      class="btn"
      >Upload Place Picture</ion-button
    >
    <ion-button
      expand="block"
      type="submit"
      class="add-btn"
      [routerLink]="['/', 'account', 'manage-place']"
      (click)="addPlaceToDB()"
      [disabled]="!locLatLng"
      >Add Place</ion-button
    >
  </form>
</ion-content>
