<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-card class="ion-padding card">
        <ion-row align-items-center justify-content-center>
          <ion-avatar align-items-center justify-content-center>
            <img src="https://png.pngtree.com/svg/20170508/63b089ad9c.svg" />
          </ion-avatar>
        </ion-row>
        <ion-row align-items-center justify-content-center>
          <h2>Cindy Michelle</h2>
        </ion-row>
        <ion-row align-items-center justify-content-center>
          <ion-label>cindy.michelle@gmail.com</ion-label>
        </ion-row>
      </ion-card>
      <ion-card class="ion-padding card">
        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Manage Vehicle</h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Manage Places</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-grid>
  <ion-button
    expand="block"
    class="log-out"
    color="danger"
    [routerLink]="['/', 'main']"
    >Log Out</ion-button
  >
</ion-content>
