<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Place</ion-title>
    <ion-label slot="primary" class="ion-padding" (click)="addPlace()" color="primary">Add</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item lines="full">
        <ion-row>
          <ion-col size="8" class="">
            <!-- PLACE TITLE AND Short Description -->
            <ion-label>Ruko Newton Barat No.19</ion-label>
            <ion-label>Short Description Parking Place</ion-label>
          </ion-col>
          <!-- PLACE PICTURE -->
          <ion-col size="4" class="">
            <ion-img [src]="'http://www.desertsun.co.uk/blog/images/Apartment%201.jpg'"></ion-img>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item lines="full">
        <ion-row>
          <ion-col size="8" class="">
            <!-- PLACE TITLE AND Short Description -->
            <ion-label>Jl. Taman Newton No.26</ion-label>
            <ion-label>Short Description Parking Place</ion-label>
          </ion-col>
          <!-- PLACE PICTURE -->
          <ion-col size="4" class="">
            <ion-img [src]="'https://static3.businessinsider.com/image/5681799ce6183e55008b526d-480/carmel-place-nyc-micro-apartment.jpg'"></ion-img>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
