<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button
              slot="start"
              defaultHref="/tabs/profile"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #editProfile="ngForm" (ngSubmit)="editProfileInDB()">
    <ion-list padding lines="full" class="ion-padding">
      <ion-item class="input-container">
        <ion-label position="stacked">Email</ion-label>
        <ion-input
                class="input"
                required
                inputmode="text"
                name="userEmail"
                [(ngModel)]="userEmail"
        ></ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-label position="stacked">First Name</ion-label>
        <ion-input
                class="input"
                required
                inputmode="text"
                name="userFirstName"
                [(ngModel)]="userFirstName"
        ></ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input
                class="input"
                required
                inputmode="text"
                name="userLastName"
                [(ngModel)]="userLastName"
        ></ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input
                class="input"
                required
                inputmode="text"
                name="userPhoneNumber"
                [(ngModel)]="userPhoneNumber"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="editProfilePicture()" color="tertiary">Update Profile Picture</ion-button>
      <ion-button
              expand="block"
              type="submit"
              [routerLink]="['/', 'tabs', 'parking']"
      >Edit Profile</ion-button
      >
    </ion-list>
  </form>
</ion-content>
