<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/tabs/parking"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #bookingForm="ngForm" (ngSubmit)="bookingPlace()">
    <ion-list>
      <ion-item lines="full" class="list-item">
        <div class="wrapper-vehicle">
          <!-- <h3 class="vehicle-name">{{ v.vehicleModel }}</h3>
          <ion-label class="plate">{{ v.plateNo }}</ion-label> -->
          <h3 class="key">Vehicle</h3>
          <ion-label class="plate value">{{ plateNo }}</ion-label>
        </div>
        <ion-button fill="clear" class="change-vehicle" (click)="changeVehicle()"> Change </ion-button>
      </ion-item>
      <ion-item lines="full" class="list-item">
        <h3 class="key">Arrival</h3>
        <div class="date-wrapper">
<!--          <h3 class="date">August 22, 17:00 PM</h3>-->
<!--          <ion-datetime-->
<!--            displayFormat="D MMM YYYY H:mm"-->
<!--            min="1997" max="2050"-->
<!--            value="2019-01-01T00:00Z"-->
<!--            name="arrivalDateTime" [(ngModel)]="arrivalTime"-->
<!--            (ionChange)="calculateDuration(1)"-->
<!--          >-->
<!--          </ion-datetime>-->
<!--            <ion-datetime-->
<!--                    display-format="DD MMM YYYY HH:mm"-->
<!--                    picker-format="YYYY MMM DD HH mm"-->
<!--                    [min]="availableFrom.toISOString()"-->
<!--                    [max]="availableTo.toISOString()"-->
<!--                    [ngModel]="arrivalTime"-->
<!--                    name="arrivalDateTime"-->
<!--                    required-->
<!--                    #startDateCtrl="ngModel"-->
<!--            ></ion-datetime>-->

            <ion-datetime
                    display-format="D MMM YYYY HH:mm"
                    picker-format="YYYY MMM DD HH:mm"
                    [min]="today.toISOString()"
                    [(ngModel)]="arrivalTime"
                    name="arrivalDateTime"
                    required
                    (ionChange)="calculateDuration(1)"
            ></ion-datetime>
            <ion-button fill="clear" style="margin-left: 0;" class="change-vehicle">
            <ion-icon name="calendar"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
      <ion-item lines="full" class="list-item">
        <h3 class="key">Leaving</h3>
        <div class="date-wrapper">
<!--          <ion-datetime-->
<!--            displayFormat="D MMM YYYY H:mm"-->
<!--            min="1997" max="2050"-->
<!--            value="2019-01-01T00:00Z"-->
<!--            name="leavingDateTime" [(ngModel)]="leavingTime"-->
<!--            (ionChange)="calculateDuration(2)">-->
<!--          </ion-datetime>-->
<!--            <ion-datetime-->
<!--                    display-format="DD MMM YYYY HH:mm"-->
<!--                    picker-format="YYYY MMM DD HH mm"-->
<!--                    [min]="startDateCtrl.value"-->
<!--                    [max]="availableTo.toISOString()"-->
<!--                    [ngModel]="leavingTime"-->
<!--                    name="leavingDateTime"-->
<!--                    required-->
<!--                    #startDateCtrl="ngModel"-->
<!--            ></ion-datetime>-->


            <ion-datetime
                    display-format="D MMM YYYY HH:mm"
                    picker-format="YYYY MMM DD HH mm"
                    [min]="today.toISOString()"
                    [max]="availableTo.toISOString()"
                    [(ngModel)]="leavingTime"
                    name="leavingDateTime"
                    required
                    (ionChange)="calculateDuration(2)"
            ></ion-datetime>
          <ion-button style="margin-left: 0;" fill="clear" class="change-vehicle">
            <ion-icon name="calendar"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
      <ion-item lines="full" class="list-item">
        <h3 class="key">Duration</h3>
<!--        <h3 class="value" name="duration" [(ngModel)]="duration"></h3>-->
        <h3 class="value">{{ duration }} Hours</h3>
      </ion-item>
      <ion-item lines="full" class="list-item">
        <h3 class="key">Price per Hour</h3>
        <h3 class="value">
          Rp {{ pricePerHour }}
        </h3>
      </ion-item>
      <ion-item lines="full" class="list-item">
        <h3 class="key">Payment</h3>
        <h3 class="value">
          Cash
        </h3>
      </ion-item>
    </ion-list>
    <div class="bottom">
      <div class="total-wrapper">
        <h3 class="total">Total Price</h3>
        <h3 class="total">
          Rp {{ totalPrice }}
        </h3>
      </div>
      <ion-button
        expand="block"
        class="booking-btn"
        color="primary"
        type="submit"
        >Book Parking</ion-button>
    </div>
  </form>
</ion-content>
