<ion-header>
  <ion-toolbar>
    <ion-title>Add Vehicle</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #addVehicle>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Vehicle Model</ion-label>
          <ion-item lines="full">
            <ion-input type="text" placeholder="Vehicle model" name="vehicleModel"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-label>Plate Number</ion-label>
          <ion-item lines="full">
            <ion-input type="text" placeholder="Plate number" name="plateNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
        
      <ion-row>
        <ion-col>
          <ion-label>Vehicle Type</ion-label>
          <ion-item lines="full">
            <ion-input type="text" placeholder="Type" name="vehicleType"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-label>Picture</ion-label>
          <!-- <ion-item lines="full"> -->
          <ion-button expand="block" class="ion-margin-top" (click)="addVehiclePicture()">Upload Picture</ion-button>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="addVehicleToDB()">Add Vehicle</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>