ion-toolbar {
  --ion-color-base: transparent !important;
  --background: transparent;
  background-image: url('../../../assets/images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 57px;
  display: flex;
  align-items: center;
}

ion-title {
  color: white;
  font-size: 17px;
  font-family: 'bold';
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.selector {
  font-size: 12px;
}

.close-btn {
  color: white;
  font-size: 35px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.input {
  font-family: 'regular';
  font-size: 14px;
}

.add-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 18px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 52px;
  border: 1px #f17800 solid;
  font-size: 18px;
  height: 52px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
