<ion-header>
  <ion-toolbar>
    <ion-title>Add Vehicle</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closeModal()">
        <ion-icon name="close" class="close-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #addVehicle>
    <ion-list padding lines="full" class="ion-padding">
      <ion-item class="input-container">
        <ion-label style="font-size: 13px;">Vehicle Type</ion-label>
        <ion-select interface="action-sheet" class="selector">
          <ion-select-option value="motorcycle" style="font-size:20px"
            >Motorcycle</ion-select-option
          >
          <ion-select-option value="car">Car</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="input-container">
        <ion-label position="stacked">Vehicle Model</ion-label>
        <ion-input
          class="input"
          required
          inputmode="text"
          oninput="handleFirstNameValue(event)"
        ></ion-input>
      </ion-item>
      <ion-item class="input-container">
        <ion-label position="stacked">Plate Number</ion-label>
        <ion-input
          class="input"
          required
          inputmode="text"
          oninput="handleFirstNameValue(event)"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" class="add-btn"
      >Add Vehicle</ion-button
    >
  </form>
</ion-content>
