.caption {
  font-size: 12px;
  color: grey;
  margin-top: 5px;
  margin-bottom: 50px;
}

.label {
  left: 20px;
}
.input-container {
  margin-bottom: 10px;
}

.conditions-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.conditions-caption {
  font-size: 11px;
  margin-left: 5px;
}
