<ion-header no-border no-shadow class="ion-no-margin ion-no-padding">
  <ion-toolbar translucent="true">
    <ion-back-button
      slot="start"
      class="back"
      defaultHref="/"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="header">
    <div style="height: 100px;">
      <h1 class="title">Register</h1>
      <h6 class="caption">Please fill in a few details below.</h6>
    </div>
  </div>

  <!-- <ion-content onsubmit="processForm(event)"> -->
  <!-- <form #f="ngForm" (ngSubmit)="onRegister(f)"> -->
  <ion-list lines="full" class="ion-padding" style="margin-bottom:0px">
    <ion-item class="input-container">
      <ion-label position="stacked"
        >First Name <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        name="fname"
        type="text"
        class="input"
        placeholder="First Name"
        [(ngModel)]="user.firstName"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"
        >Last Name <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        name="lname"
        type="text"
        class="input"
        placeholder="Last Name"
        [(ngModel)]="user.lastName"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"
        >Email <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        name="email"
        inputmode="email"
        class="input"
        placeholder="your@mail.com"
        [(ngModel)]="user.email"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"
        >Phone Number <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        name="phoneNo"
        type="number"
        placeholder="Phone Number"
        class="input"
        [(ngModel)]="user.phoneNo"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"
        >Password <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        name="pwd"
        type="password"
        minlength="6"
        class="input"
        placeholder="******"
        [(ngModel)]="user.password"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"
        >Confirm Password <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        name="confirmPwd"
        type="password"
        minlength="6"
        placeholder="******"
        class="input"
        [(ngModel)]="user.confirmPassword"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button
      expand="block"
      type="submit"
      (click)="onRegister()"
      [disabled]="
        !(
          user.firstName &&
          user.lastName &&
          user.email &&
          user.password &&
          user.confirmPassword &&
          user.phoneNo
        ) || user.password != user.confirmPassword ||
        (user.password.length < 6 && user.confirmPassword < 6)
      "
      class="login"
      >Create account</ion-button
    >
  </div>
  <!-- </form> -->
</ion-content>
