<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="segmentedValue">
    <ion-segment-button value="parking">Parking</ion-segment-button>
    <ion-segment-button value="places">Places</ion-segment-button>
  </ion-segment>

  <div *ngIf="segmentedValue == 'parking'">
    <div *ngIf="vehicleHistory.length > 0">
      <ion-list *ngFor="let v of vehicleHistory; index as i">
        <ion-item lines="full" class="list-item" (click)="onVehicleClick(i)">
          <div class="wrapper-place">
            <h3 class="place-name">{{ v.vehicleType }}</h3>
            <ion-label class="plate"
              >{{ v.customerPlateNo }} - {{v.vehicleModel}}
            </ion-label>
          </div>
          <h3 class="label ongoing" *ngIf="v.ongoing">ONGOING</h3>
          <h3 class="label outdated" *ngIf="!v.ongoing">OUTDATED</h3>
        </ion-item>
      </ion-list>
    </div>
    <p *ngIf="vehicleHistory.length == 0" class="list">
      There are no parking history.
    </p>
  </div>

  <div *ngIf="segmentedValue == 'places'">
    <div *ngIf="placeHistory.length > 0">
      <ion-list *ngFor="let p of placeHistory; index as i">
        <ion-item lines="full" class="list-item" (click)="onPlaceClick(i)">
          <div class="wrapper-place">
            <h3 class="place-name">{{ p.placeName }}</h3>
            <ion-label class="plate">{{ p.address }}</ion-label>
          </div>
          <h3 class="label ongoing" *ngIf="p.ongoing">ONGOING</h3>
          <h3 class="label outdated" *ngIf="!p.ongoing">OUTDATED</h3>
        </ion-item>
      </ion-list>
    </div>
    <p *ngIf="placeHistory.length == 0" class="list">
      There are no rent parking places history.
    </p>
  </div>

  <!-- <div [ngSwitch]="segmentedValue">
    <ion-label *ngSwitchWhen="'parking'" ngSelected="selected">
      <a ion-item>
        <ion-label>book list</ion-label>
      </a>
    </ion-label>
    <ion-label *ngSwitchWhen="places">
      <a ion-item>
        <ion-label>table list</ion-label>
      </a>
    </ion-label>
  </div> -->
</ion-content>
