.list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-toolbar {
  --ion-color-base: transparent !important;
  --background: transparent;
  height: 57spx;
  display: flex;
  align-items: center;
}

ion-header {
  background-image: url('../../../assets/images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
}

ion-title {
  color: white;
  font-size: 15px;
  font-family: 'bold';
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

ion-back-button {
  --color: white;
}

ion-segment-button {
  --background: white;
  --border-radius: 10px;
  --border-color: #f17800;
  --background-activated: #ff8c12;
  --background-checked: #ff8c12;
  --background-hover: #ff8c12;
  --color: #ff9a2e;
  --color-activated: white;
  --color-checked: white;
  --margin-start: 10px;
  --margin-end: 10px;
  height: 40px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 15px;
  padding-right: 15px;
  height: 65px;
}

.wrapper-place {
  padding-left: 0px;
  flex-direction: column;
  justify-content: space-around;
  width: 74%;
}

.place-name {
  margin: 0px;
  color: #2d2d2d;
  font-size: 14px;
}

.plate {
  color: #c1bcbc;
  font-size: 12px;
}
.place-type {
  font-size: 12px;
  color: #2d2d2d;
  text-align: right;
}

.label {
  margin: 0px;
  font-size: 14px;
}

.ongoing {
  color: #ff9933;
}

.outdated {
  color: #c1bcbc;
}
