<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="segmentedValue">
    <ion-segment-button value="parking">Parking</ion-segment-button>
    <ion-segment-button value="places">Places</ion-segment-button>
  </ion-segment>

  <div *ngIf="segmentedValue == 'parking'" class="list">
    <p>There are no parking history.</p>
  </div>

  <div *ngIf="segmentedValue == 'places'" class="list">
    <p>There are no rent parking places history.</p>
  </div>

  <!-- <div [ngSwitch]="segmentedValue">
    <ion-label *ngSwitchWhen="'parking'" ngSelected="selected">
      <a ion-item>
        <ion-label>book list</ion-label>
      </a>
    </ion-label>
    <ion-label *ngSwitchWhen="places">
      <a ion-item>
        <ion-label>table list</ion-label>
      </a>
    </ion-label>
  </div> -->
</ion-content>
