.logo-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 35%;
}

.title {
  color: #2d2d2d;
  font-size: 26px;
  text-align: center;
  font-family: 'bold';
}

.subtitle {
  font-family: 'medium';
  font-size: 14px;
  color: #2d2d2d;
  text-align: center;
}

.try-again-btn {
  margin-left: 18px;
  margin-right: 18px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 52px;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}
