<ion-content>
  <div class="">
    <div class="maps" id="map_canvas">
      <ion-input class="input" placeholder="Search parking area around you ...">
        <ion-icon name="search" class="icon" slot="start"></ion-icon>
      </ion-input>

      <div class="card-container" *ngIf="cardShown">
        <div class="card">
          <div class="flex">
            <ion-label class="place" >
              <h2>
                <b>
                  {{ name }}
                </b>
              </h2>
              <p>{{ address }}</p>
            </ion-label>
            <ion-label>
              <h3>
                <b>
                  0.6 km
                </b>
              </h3>
            </ion-label>
          </div>
          <div class="divider">&nbsp;</div>
          <div class="flex">
            <ion-label class="place">
              <h3>
                <b>
                  Rp 6000 / hour
                </b>
              </h3>
            </ion-label>
            <ion-button color="success">Book now</ion-button>
          </div>
        </div>
      </div>
    </div> 
  </div>
</ion-content>
