<ion-content>
  <div class="">
    <div class="maps">
      <div id="map_canvas">
        <div class="input">
          <ion-input [(ngModel)]="search" (ionChange)="searchChanged()" class="ion-margin-horizontal" name ="search" type="text" placeholder="Search for parking around you ...">
<!--            <ion-icon name="search" class="icon" slot="start"></ion-icon>-->
          </ion-input>

          <ion-list class="" *ngIf="search">
            <ion-item (click)="searchClick(results)" *ngFor="let results of srchResults">
              {{ results.description }}
            </ion-item>
          </ion-list>
        </div>


        <div class="card" *ngIf="cardAddress && cardAreaName && cardPricePerHour">
          <div class="flex">
            <ion-label class="place">
              <h2 class="name">
                {{ cardAreaName }}
              </h2>
              <p class="address">{{ cardAddress }}</p>
            </ion-label>
            <div class="slot-wrapper">
              <p class="slot-caption">PARKING<br />AVAILABLE</p>
            </div>
          </div>
          <div class="divider">&nbsp;</div>
          <div class="flex bottom-row">
            <ion-label class="place">
              <h3>
                <b>
                  Rp {{ cardPricePerHour }} / hour
                </b>
              </h3>
            </ion-label>

<!--            <ion-button-->
<!--              color="secondary"-->
<!--              (click)="showBookingConfirmation(cardPlaceId)"-->
<!--              class="book"-->
<!--              >Book now</ion-button>-->

            <ion-button
              color="secondary"
              (click)="showBookingConfirmation(cardPlaceId)"
              [routerLink]="['/', 'booking', cardPlaceId, cardPricePerHour]"
              class="book"
            >Book now</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
