.maps {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-image: url('https://miro.medium.com/max/4064/1*qYUvh-EtES8dtgKiBRiLsA.png');
  padding-left: 15px;
  padding-right: 15px;
  height: 90vh;
}

.input {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px rgb(157, 156, 156) solid;
  -webkit-box-shadow: 4px 6px 21px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 6px 21px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 6px 21px -5px rgba(0, 0, 0, 0.3);
}

.icon {
  margin-left: 10px;
}

.card-container{
  display: inline;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px rgba(157, 156, 156, 1) solid;
  -webkit-box-shadow: 4px 6px 21px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 6px 21px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 6px 21px -5px rgba(0, 0, 0, 0.3);
  position: relative;
}
.flex {
  display: flex;
  background-color: white;
}

.place {
  flex: 2;
}

.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.482);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
