<ion-header>
  <ion-toolbar>
    <ion-back-button
      slot="start"
      class="back"
      defaultHref="/"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
  <div>
    <h1>Login</h1>
    <h6 class="caption">Enter your email and password to Login.</h6>
  </div>

  <!-- <form onsubmit="processForm(event)"> -->
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item class="input-container">
      <ion-label position="stacked"
        >Email <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        inputmode="email"
        oninput="handleFirstNameValue(event)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"
        >Password <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        type="password"
        oninput="handleLastNameValue(event)"
      ></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding" class="button">
    <ion-button expand="block" type="submit" class="ion-no-margin"
      >Login</ion-button
    >
  </div>
  <!-- </form> -->
</ion-content>
