<ion-header no-border no-shadow class="ion-no-margin ion-no-padding">
  <ion-toolbar translucent="true">
    <ion-back-button
      slot="start"
      class="back"
      defaultHref="/"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="header">
    <div style="height: 100px;">
      <h1 class="title">Login</h1>
      <h6 class="caption">Enter your email and password to Login.</h6>
    </div>
  </div>

  <!-- <form onsubmit="processForm(event)"> -->
  <ion-list padding lines="full" class="ion-padding">
    <ion-item class="input-container">
      <ion-label position="stacked"
        >Email <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        class="input"
        inputmode="email"
        placeholder="your@mail.com"
        [(ngModel)]="input.email"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"
        >Password <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        class="input"
        required
        type="password"
        placeholder="******"
        [(ngModel)]="input.password"
        [ngModelOptions]="{ standalone: true }"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" type="submit" class="login" (click)="onLogin()"
    >Login</ion-button
  >
  <!-- </form> -->
</ion-content>
